<!--
  Generated template for the EmployeePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Employee Details</ion-title>
    <ion-buttons end *ngIf="canDelete">
      <button ion-button (click)="delete()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>First Name</ion-label>
      <ion-input text-right type="text" [(ngModel)]="employee.firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Last Name</ion-label>
      <ion-input text-right type="text" [(ngModel)]="employee.lastName"></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button block (click)="addOrUpdate()">Add/Update Employee</button>
</ion-content>
