<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Employee Database
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="addEmployee()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let emp of employees" (click)="showDetails(emp)">
      <div>
        <h3>{{emp.doc.firstName}} {{emp.doc.lastName}}</h3>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
